body{
    background-color: #1F2937;
}

h1{
font-family: Karla;
font-size: 40px;
font-weight: 800;
line-height: 40px;
letter-spacing: -0.025em;
text-align: left;
color: #D5D4D8;
position: absolute;
width: 372px;
height: 90px;
left: 52px;
top: 90px;

}

p{
color: #D5D4D8;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
position: absolute;
width: 372px;
height: 28px;
left: 52px;
top: 205px;
}

button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: absolute;
width: 191px;
height: 42px;
left: 52px;
top: 284px;
background: #10B981;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

#passwordOne{
position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 396px;
background: #273549;
border-radius: 6px;
}

#passwordTwo{
position: absolute;
width: 211px;
height: 39px;
left: 287px;
top: 396px;
background: #273549;
border-radius: 6px;
}

hr{
position: absolute;
width: 446px;
height: 0px;
left: 52px;
top: 361px;
border: 1px solid #2F3E53;
}

#passwordOne, #passwordTwo{
    font-family: Karla;
    color: #D5D4D8;
    text-align: center;
    padding-top: 15px;
}
